:root {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
    display: flex;
    font-family: 'Arial', sans-Serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to top, rgb(38, 0, 0),rgb(118, 39, 39), rgb(36, 111, 158), rgb(2, 68, 109));
}

.no-overflow {
    overflow: hidden;
    height: 100dvh;
}

.menu-button {
    padding: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 1;
}

.menu-button:hover {
    filter: brightness(1.2);
}

video {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: screen;
    filter: blur(10px);
    opacity: 0;
    z-index: 3;
    transition: all 1s ease;
}

button {
    font-family: 'Caesar Dressing';
    border: none;
    font-size: 20px;
}  

h2 {
    font-family: 'Skranji';
    font-size: 46px;
    margin: 20px 0 0 0;
    color: #ffa904;
    filter: drop-shadow(0 0px 1px #000000)
}

h3 {
    font-family: 'Caesar Dressing';
    font-size: 30px;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.legal-ref {
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    font-family: 'Skranji';
    margin-top: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.698);
    z-index: 3;
    height: 20px;
}

.legal-ref:hover {
    color: #ffa904;
}

/* START SCREEN */
.start {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    transition: all 2s ease;
    z-index: 2;
}

.title-img {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    object-fit: contain;
    animation: titleAnimation 10s infinite ease;
    width: 50%;
    z-index: 2;
    opacity: 0.9;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1200px;
}

.img-container {
    display: flex;
    position:relative;
}

.main-img {
    width: 100%;
    bottom: 70px;
    object-fit: contain;
}

.main-background {
    position: absolute;
    bottom: 0;
    height: 100vh;
    object-fit: contain;
    opacity: 0.2;
    filter: blur(10px) saturate(40%);
    z-index: -2;
}

#mainImgHeroes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: pulse 3s infinite ease;
    z-index: 3;
}

.start-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 60px;
    gap: 30px;
}

.load-characters {
    text-align: center;
    background: #ffa904;
    color: white;
    font-size: 18px;
    padding: 6px 20px;
    border-radius: 16px;
    border: 3px solid white;
    filter: drop-shadow(0px 0px 10px #2c0f00);
    transition: all 0.5s ease;
}

.load-characters:hover {
    background-color: #f78a00;
    border: 3px solid rgba(255, 255, 255, 0.506);
    filter: drop-shadow(0px 0px 10px #ffe785);
}

/* CONTROLS */
#controlMenu {
    z-index: 2;
    display: none;
    position: fixed;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: linear-gradient(to top, rgb(38, 0, 0),rgb(118, 39, 39), rgb(36, 111, 158), rgb(2, 68, 109));
    top: 0;
    left: 0;
}

.controls-img {
    background-repeat: no-repeat;
    background-image: url('./img/08_intro/controls.png');
    background-size: 100% 100%;
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;
    height: 60vw;
    max-height: 600px;
    max-width: 1000px;
}

/* TURN DEVICE */
.turn-device {
    display: none;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: all 1s ease;
}

.rotate-phone {
    width: 100px;
    height: 100px;
    animation: rotateImage 4s infinite ease-in-out;
}

/* CHOOSE CHARACTER */
.character-selection {
    display: flex;
    position: fixed;
    max-width: 1000px;
    width: 80%;
    top: -200%;
    opacity: 0;
    height: 70vh;
    max-height: 500px;
    transform: translateY(-50%);
    background-color: rgb(59, 54, 45);
    border-radius: 16px;
    border: 5px solid rgb(55, 38, 26);
    filter: drop-shadow(5px 5px 5px black);
    overflow: hidden;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 5;
}

.char-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.char-container h3 {
    flex: 1;
}

.char-container:first-child,
.char-container:nth-child(2) {
    border-right: 1px solid rgb(55, 38, 26);
}

.char-img {
    flex: 1;
    position: absolute;
    top: calc(50% + 20px);
    transform: translateY(-50%);
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 5px white);
    transition: all 0.5s ease;
    animation: "";
}

.character-description {
    font-family: 'Skranji';
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.623), transparent);
    margin: 0;
}

.start-game {
    width: 100%;
    height: 70px;
    color: white;
    background: linear-gradient(to top,rgb(75, 52, 36) 90%, rgb(132, 92, 64));
}

.start-game:hover {
    background: linear-gradient(to top,rgb(95, 66, 45) 90%, rgb(168, 119, 84));
}

.char-container:first-child .start-game {
    border-radius: 0 0 0 10px;
}

.char-container:last-child .start-game {
    border-radius: 0 0 10px 0;
}

.char-background {
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    opacity: 0.2;
    z-index: -3;
    filter: blur(10px);
} 

@media (hover: none) and (orientation: landscape) {
    .controls-img {
        width: 100%;
        height: 100dvh;
        max-height: 100dvh;
        background-image: url('./img/08_intro/controls_mobile.png');
        border-radius: 0px;
        border: none;
        z-index: 20;
    }
}