body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
canvas {
    background-color: black;
    width: "";
    height: "";
}