body {
    display: flex;
    font-family: 'Arial', sans-Serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    /*background: linear-gradient(to top, rgba(22, 38, 0, 0.35),rgba(84, 118, 39, 0.35), rgb(36, 111, 158), rgb(2, 68, 109));*/
    background: linear-gradient(to top, rgb(38, 0, 0),rgb(118, 39, 39), rgb(36, 111, 158), rgb(2, 68, 109));
}


video {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: screen;
    filter: blur(10px);
    opacity: 0;
    z-index: 3;
    transition: all 1s ease;
}

button {
    font-family: 'Caesar Dressing';
    border: none;
    font-size: 20px;
}  

h2 {
    font-family: 'Skranji';
    font-size: 46px;
    margin: 20px 0 0 0;
    color: #ffa904;
    filter: drop-shadow(0 0px 1px #000000)
}

h3 {
    font-family: 'Caesar Dressing';
    font-size: 30px;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

/* START SCREEN */
.start {
    display: flex; /*toggle*/
    flex-direction: column;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgb(38, 0, 0),rgb(118, 39, 39), rgb(36, 111, 158), rgb(2, 68, 109));
    transition: all 2s ease;
    z-index: 2;
    filter: brightness();
}

.title-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    bottom: 30vh;
    object-fit: contain;
}
.img-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 400px;
}

.main-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 0;
    object-fit: contain;
}

.main-background {
    position: absolute;
    bottom: 0;
    height: 100vh;
    object-fit: contain;
    opacity: 0.2;
    filter: blur(10px) saturate(40%);
    z-index: -2;
}

#mainImgHeroes {
    animation: pulse 3s infinite ease;
}

@keyframes pulse {
    0% {
        filter: brightness(1);
        width: 80%;
    }
    50% {
        filter: brightness(1.2);
        width: 82%;
    }
    100% {
        filter: brightness(1);
        width: 80%;
    }
}

.load-characters {
    background: #ffa904;
    color: white;
    font-size: 40px;
    padding: 10px 40px;
    border-radius: 16px;
    border: 3px solid white;
}

/* TURN DEVICE */
.turn-device {
    display: none;
    position: fixed;
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: all 1s ease;
}

/* CHOOSE CHARACTER */
.character-selection {
    display: flex;
    position: fixed;
    max-width: 1000px;
    width: 80%;
    top: -200%;
    opacity: 0;
    height: 70vh;
    max-height: 800px;
    transform: translateY(-50%);
    background-color: rgb(59, 54, 45);
    border-radius: 16px;
    border: 5px solid rgb(55, 38, 26);
    filter: drop-shadow(5px 5px 5px black);
    overflow: hidden;
    transition: all 1s ease;
    z-index: 5;
}

.char-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
}

.char-container h3 {
    flex: 1;
}

.char-container:first-child,
.char-container:nth-child(2) {
    border-right: 1px solid rgb(55, 38, 26);
}

.char-img {
    flex: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 5px white);
}

.character-description {
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.623), transparent);
    margin: 0;
}

.start-game {
    width: 100%;
    height: 70px;
    color: white;
    background: linear-gradient(to top,rgb(75, 52, 36) 90%, rgb(132, 92, 64));
}

.start-game:hover {
    background: linear-gradient(to top,rgb(95, 66, 45) 90%, rgb(168, 119, 84));
}

.char-container:first-child .start-game {
    border-radius: 0 0 0 10px;
}

.char-container:last-child .start-game {
    border-radius: 0 0 10px 0;
}

.char-background {
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    object-fit: contain;
    opacity: 0.2;
    z-index: -3;
    filter: blur(10px);
} 


/* GAME */
.game {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.title-game {
    margin-bottom: 15px;
    color: white;
    width: 50%;
}

#gameContainer {
    position: relative;
    top: 0;
    justify-content: center;
    display: flex;
    opacity: 1;
}

#mobileInterface {
    display: none;
}

#levelInfo {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(206, 163, 111);
    font-size: 20px;
    z-index: 9999;
    text-shadow:
        1px 1px 0 rgba(0, 0, 0, 0.65), 
        -1px -1px 0 rgba(0, 0, 0, 0.65), 
        1px -1px 0 rgba(0, 0, 0, 0.65), 
        -1px 1px 0 rgba(0, 0, 0, 0.65);
}

#menuBtn {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    z-index: 9999;
    color: rgba(255, 255, 255, 0.838);
}

.mobile-button {
    display: none; /* toggle visibility buttons*/
    position: absolute;
    bottom: -35px;
    height: 70px;
    width: 70px;
    user-select: none;
    transform: translate(-50%, -50%);
    color: white;
    padding: 8px;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    opacity: 0.65;

}

.btn-left {
    left: 50px;
}

.btn-right {
    left: 140px;
}

.btn-jump {
    right: 0px;
}

.btn-attack {
    right: -40px;
    bottom: 40px;
}

canvas {
    opacity: 0;
    background-color: black;
    border-radius: 16px;
    z-index: 1;
    transition: all 0.5s ease;
}

.char-select-old {
    margin-top: 15px;
}

.current-level {
    margin-top: 20px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.char-select-old button {
    background: #ffa904;
    color: white;
    padding: 5px 20px;
    border-radius: 16px;
    border: 3px solid white;
}



/* @media (hover: none) {                     (hover: none) für alle mobile Endgeräte. */
/* @media (orientation: portrait) {           (orientation: portrait) wenn die Seitenverhältnisse ein Hochformat darstellen. */
/* @media (orientation: landscape) {          (orientation: landscape) wenn die Seitenverhältnisse ein Querformat darstellen. */

@media (hover: none) and (orientation: portrait) {  
    
    .start {
        display: none;
    }

    .game {
        display: none;
    }

    video {
        opacity: 1;
    }
    .turn-device {
        display: flex;
    }

}

@media (hover: none) and (orientation: landscape) {        /* Kombination der zwei werte - nur für mobile Endgeräte im landscape modus */

    canvas {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .character-selection {
        max-width: 1000px;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }

    .char-img {
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 5px white);
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-family: 'Caesar Dressing';
        font-size: 20px;
        margin: 0;
    }

    .start-game {
        width: 100%;
        height: 40px;
    }

    .mobile-button {
        display: flex; /* toggle visibility buttons*/
}
}

@media screen and (max-width: 900px) and (hover: hover) {

    canvas {
        height: 70vw;
        width: 100vw;
        border-radius: 0;
    }

    .character-selection {
        max-width: 1000px;
        width: 100%;
        top: -200%;
        height: 100vh;
        max-height: 600vh;
        border-radius: 0px;
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-size: 20px;
    }
}