@keyframes titleAnimation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pulse {
    0% {
        filter: brightness(1);
        width: 80%;
    }
    50% {
        filter: brightness(1.2);
        width: 82%;
    }
    100% {
        filter: brightness(1);
        width: 80%;
    }
}

@keyframes rotateImage {
    0% { transform: rotate(0deg); opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { transform: rotate(90deg); opacity: 0; }
}

@keyframes pulseImg {
    0% { filter: drop-shadow(0 0 5px #f78a00); }
    100% { filter: drop-shadow(0 0 20px #f78a00); }
}


@keyframes backgroundAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
