@media (pointer: coarse) and (orientation: portrait) {  
    
    video {
        opacity: 1;
    }
    
    .turn-device {
        display: flex;
    }

    .start,
    .game,
    .legal-ref,
    .character-selection {
        display: none;
    }
}

@media (pointer: coarse) and (orientation: landscape) {

    .legal-ref {
        top: 10px;
        right: 10px;
        transform: none;
    }

    canvas {
        height: 100dvh;
        width: 100vw;
        border-radius: 0;
    }

    #gameDialog {
        border-radius: 0;
    }

    .character-selection {
        max-width: 1000px;
        width: 100%;
        height: 100dvh;
        border-radius: 0px;
    }

    .main-img {
        max-height: 300px;
    }

    .char-img {
        left: 56%;
        transform: translate(-50%, -50%);
    }

    .character-description {
        font-size: 12px;
    }

    h2 {
        font-size: 30px;
    }
    
    h3 {
        font-family: 'Caesar Dressing';
        font-size: 20px;
        margin: 0;
    }

    .start-game {
        width: 100%;
        height: 40px;
    }

    .mobile-button {
        display: flex;
    }
    #gameFullscreen {
        display: none;
    }
}

#gamePause,
#gameMute,
#gameFullscreen {
display: flex;
}